body {
  background: rgba(100, 195, 255, 1.0);
}

form {
  color: #333;
  width: 300px;
  background-color: #fff;
  display: block;
  margin: 100px auto 0 auto;
  padding: 50px;
  font-size: 20px;
}

select, input {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 35px;
}

label {

}

button {
  width: 34%;
  height: 35px;
  background-color: rgba(100, 195, 255, 1.0);
  border: none;
  margin-top: 25px ;
  color: #fff;
  cursor: pointer;
}





